:root {
  --border-color: #868e96;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--border-color);
}

h1 span {
  font-size: 1rem;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 500px;
  display: flex;
}

.playground {
  width: 300px;
  margin: 0 auto;
  border: 4px solid var(--border-color);
}

.playground div {
  display: flex;
}

.playground span {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
}

.next-block div {
  display: flex;
}

.next-block span {
  width: 30px;
  height: 30px;
}

.next-block .next {
  border: 1px solid #fff;
}

.info {
  padding-left: 1rem;
}

.info .next-block,
.info .wrapper,
.info .instruction {
  border: 4px solid var(--border-color);
}

.info .wrapper {
  margin-bottom: 1rem;
}

.info .wrapper div {
  border-bottom: 4px solid var(--border-color);
}

.info .wrapper div:last-child {
  border: none;
}

.info .wrapper div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.info .wrapper .text {
  color: var(--border-color);
}

.info .next-block {
  height: 186px;
  margin-bottom: 1rem;
}

.info .instruction {
  padding: 10px;
  color: var(--border-color);
}

.info .instruction li:nth-child(3) {
  margin-bottom: 1rem;
}

.info .instruction li:nth-child(4) {
  margin-bottom: 10px;
}

.O {
  background-color: #ff8787;
}

.T {
  background-color: #da77f2;
}

.I {
  background-color: #9775fa;
}

.L {
  background-color: #4dabf7;
}

.J {
  background-color: #748ffc;
}

.Z {
  background-color: #38d9a9;
}

.S {
  background-color: #ffd43b;
}
