* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.playground {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #495057;
}

.playground div {
  display: flex;
}

.playground span {
  width: 30px;
  height: 30px;
  border: 1px solid #ced4da;
}

.O {
  background-color: #ff8787;
}

.T {
  background-color: #da77f2;
}

.I {
  background-color: #9775fa;
}

.L {
  background-color: #4dabf7;
}

.J {
  background-color: #748ffc;
}

.Z {
  background-color: #38d9a9;
}

.S {
  background-color: #ffd43b;
}
